* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.App {
  background-color: black;
  height: 100vh;
  color: white;
}

html,
body,
html {
  /* min-height: 100%; */
  font-size: 70.5%;
}

body {
  font-family: "Quicksand", sans-serif;
  background-color: black;
}
